---
version: 2
interactions:
    - id: 0
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/api/apikey/login
        method: POST
      response:
        body: '{"org_info":[{"id":"5abfae3a-7aa7-4653-a9c8-b3efcb18f584","name":"Braintrust SDKs","api_url":"https://api.braintrust.dev","git_metadata":{"collect":"some","fields":["commit","branch","tag","dirty","author_name","author_email","commit_message","commit_time"]},"is_universal_api":null,"proxy_url":"https://api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"178-kKbrsfThc+xXlggXc9RQYV+Gr9I"
            Surrogate-Control:
                - no-store
            X-Amz-Apigw-Id:
                - CDv0uHLmoAMEqQg=
            X-Amzn-Requestid:
                - 9a0146c1-3b15-42b1-a43f-755d9eafeb8b
            X-Bt-Internal-Trace-Id:
                - 6a7e2cea000000003fb89d393a55ae29
        status: 200 OK
        code: 200
        duration: 218.77201ms
    - id: 1
      request:
        host: api.braintrust.dev
        body: '{"name":"go-sdk-tests"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/project
        method: POST
      response:
        body: '{"id":"7f591203-74a0-4126-9103-1fb905b32618","org_id":"5abfae3a-7aa7-4653-a9c8-b3efcb18f584","name":"go-sdk-tests","description":null,"created":"2026-08-13T20:45:31.574Z","deleted_at":null,"user_id":"c755328d-f64a-4737-a984-e83c088cd9f7","settings":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"fe-e5XSQJyAK+9rnBrPXkKT/jlKL04"
            Surrogate-Control:
                - no-store
            X-Amz-Apigw-Id:
                - CDv0uEBXIAMEn0A=
            X-Amzn-Requestid:
                - 5c325b14-063c-4b20-8ddc-e374964d9322
            X-Bt-Internal-Trace-Id:
                - 6a7e2cea000000003e58f8bd506785da
        status: 200 OK
        code: 200
        duration: 1.265469629s
    - id: 2
      request:
        host: api.braintrust.dev
        body: '{"project_id":"7f591203-74a0-4126-9103-1fb905b32618","name":"food-classifier"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/experiment
        method: POST
      response:
        body: '{"id":"cd287789-7fe6-4ab6-ab71-9047bf601589","project_id":"7f591203-74a0-4126-9103-1fb905b32618","name":"food-classifier","description":null,"created":"2026-08-13T20:45:31.891Z","repo_info":null,"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":null,"dataset_version":null,"internal_metadata":null,"parameters_id":null,"parameters_version":null,"public":false,"user_id":"c755328d-f64a-4737-a984-e83c088cd9f7","metadata":null,"tags":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"1c3-gvbfhkC1LClqA+o+BPGj3a1KF9o"
            Surrogate-Control:
                - no-store
            X-Amz-Apigw-Id:
                - CDv06HPLoAMEntw=
            X-Amzn-Requestid:
                - 1d33632f-e2f6-4f0b-b59e-3a073b7896f6
            X-Bt-Internal-Trace-Id:
                - 6a7e2ceb000000000a909e1ab6f4b3e3
        status: 200 OK
        code: 200
        duration: 197.899806ms
