---
version: 2
interactions:
    - id: 0
      request:
        host: api.braintrust.dev
        body: '{"name":"go-sdk-tests"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/project
        method: POST
      response:
        body: '{"id":"7f591203-74a0-4126-9103-1fb905b32618","org_id":"5abfae3a-7aa7-4653-a9c8-b3efcb18f584","name":"go-sdk-tests","description":null,"created":"2026-08-13T20:45:31.574Z","deleted_at":null,"user_id":"c755328d-f64a-4737-a984-e83c088cd9f7","settings":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"fe-e5XSQJyAK+9rnBrPXkKT/jlKL04"
            Surrogate-Control:
                - no-store
            X-Amz-Apigw-Id:
                - Cw_pMFPWoAMEu6g=
            X-Amzn-Requestid:
                - 2ed13d8c-a5fe-468d-bf32-d7a970b67a3c
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 6a90463a00000000137325d183244d48
        status: 200 OK
        code: 200
        duration: 269.94115ms
    - id: 1
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/api/apikey/login
        method: POST
      response:
        body: '{"org_info":[{"id":"5abfae3a-7aa7-4653-a9c8-b3efcb18f584","name":"Braintrust SDKs","api_url":"https://api.braintrust.dev","git_metadata":{"collect":"some","fields":["commit","branch","tag","dirty","author_name","author_email","commit_message","commit_time"]},"is_universal_api":null,"proxy_url":"https://api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"178-kKbrsfThc+xXlggXc9RQYV+Gr9I"
            Surrogate-Control:
                - no-store
            X-Amz-Apigw-Id:
                - Cw_pMFbtoAMESgA=
            X-Amzn-Requestid:
                - 7df39b33-5f8b-4a74-a3c7-9960574b530f
            X-Bt-Internal-Trace-Id:
                - 6a90463a000000007aea7065db329a5c
        status: 200 OK
        code: 200
        duration: 300.123226ms
    - id: 2
      request:
        host: api.braintrust.dev
        body: '{"project_id":"7f591203-74a0-4126-9103-1fb905b32618","name":"partial-failure"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/experiment
        method: POST
      response:
        body: '{"id":"f6642efb-a5e2-4ae9-a7ca-f3904c33c073","project_id":"7f591203-74a0-4126-9103-1fb905b32618","name":"partial-failure","description":null,"created":"2026-08-27T14:14:18.816Z","repo_info":null,"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":null,"dataset_version":null,"internal_metadata":null,"parameters_id":null,"parameters_version":null,"public":false,"user_id":"c755328d-f64a-4737-a984-e83c088cd9f7","metadata":null,"tags":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"1c3-1rzqcNcN//K1lk8dg+l7UxG6oRc"
            Surrogate-Control:
                - no-store
            X-Amz-Apigw-Id:
                - Cw_pPHGwoAMEPgQ=
            X-Amzn-Requestid:
                - ea2ced1a-48db-4cc7-b73b-5eaebcb7c0bc
            X-Bt-Internal-Trace-Id:
                - 6a90463a000000001e12b7605172c0a5
        status: 200 OK
        code: 200
        duration: 308.430652ms
